<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="server.mapper.MatchScoreMapper">
    <delete id="deleteByMatchIds">
        DELETE FROM matchscore
        WHERE match_id IN
        <foreach collection="matchIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>