<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.mapper.PlayerMapper">
    <update id="updatePlayer">
        update player
        <set>
        <if test="firstName != null"> first_name = #{firstName}, </if>
        <if test="lastName != null"> last_name = #{lastName}, </if>
        <if test="gender != null"> gender = #{gender}, </if>
        <if test="dateOfBirth != null"> date_of_birth = #{dateOfBirth}, </if>
        <if test="weight != null"> weight = #{weight}, </if>
        <if test="height != null"> height = #{height}, </if>
        <if test="shirtNumber != null"> shirt_number = #{shirtNumber}, </if>
        <if test="positionId != null"> position_id = #{positionId}, </if>
        <if test="teamId != null"> team_id = #{teamId}, </if>
        <if test="photo != null"> photo = #{photo}, </if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <resultMap id="player" type="com.basketball.vo.player.SelectPlayerVO">
        <id column="id" property="id"/>
        <result column="first_name" property="firstName"/>
        <result column="last_name" property="lastName"/>
        <result column="gender" property="gender"/>
        <result column="date_of_birth" property="dateOfBirth"/>
        <result column="weight" property="weight"/>
        <result column="height" property="height"/>
        <result column="shirt_number" property="shirtNumber"/>
        <result column="position_id" property="positionId"/>
        <result column="team_id" property="teamId"/>
        <association property="photo" javaType="com.basketball.vo.file.FileDataVO">
            <id column="file_id" property="id"/>
            <result column="file_name" property="name"/>
        </association>
    </resultMap>

    <select id="selectPlayer" resultMap="player">
select p.id,p.first_name,p.last_name,p.gender,p.date_of_birth,p.weight,p.height,p.shirt_number,p.position_id
     ,p.team_id,f.id as file_id,f.file_name
    from player p
    left join file f on p.photo = f.id
    where p.id=#{id}
    </select>
</mapper>