<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.mapper.PlayerMapper">
    <update id="updatePlayer">
        update player
        <set>
        <if test="firstName != null"> first_name = #{firstName}, </if>
        <if test="lastName != null"> last_name = #{lastName}, </if>
        <if test="gender != null"> gender = #{gender}, </if>
        <if test="dateOfBirth != null"> date_of_birth = #{dateOfBirth}, </if>
        <if test="weight != null"> weight = #{weight}, </if>
        <if test="height != null"> height = #{height}, </if>
        <if test="shirtNumber != null"> shirt_number = #{shirtNumber}, </if>
        <if test="positionId != null"> position_id = #{positionId}, </if>
        <if test="teamId != null"> team_id = #{teamId}, </if>
        <if test="photo != null"> photo = #{photo}, </if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>
</mapper>