<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.mapper.TournamentMapper">
    <resultMap id="SelectTournamentVOMap" type="com.basketball.vo.tournament.SelectTournamentVO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="tournamentType" column="tournament_type"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="remark" column="remark"/>
        <collection property="teamIdList" ofType="java.lang.Long" column="team_id">
            <result column="team_id"/>
        </collection>
    </resultMap>

    <select id="selectTournamentDetails" resultMap="SelectTournamentVOMap">
        SELECT
        t.id,
        t.name,
        t.tournament_type,
        t.start_time,
        t.end_time,
        t.remark,
        tt.team_id
        FROM tournament t
        LEFT JOIN tournament_team tt ON t.id = tt.tournament_id
        WHERE t.id = #{tournamentId}
    </select>

     <update id="updateTournament" parameterType="com.basketball.dto.tournament.UpdateTournamentDTO">
        update tournament
        <set>
            <if test="name!=null and name!=''">name=#{name},</if>
            <if test="tournamentType!=null and tournamentType!=''">tournament_type=#{tournamentType},</if>
            <if test="startTime != null and startTime!=''">start_time=#{startTime},</if>
            <if test="endTime != null and endTime!=''">end_time=#{endTime},</if>
            <if test="remark != null and remark!=''">remark=#{remark}</if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
     <update id="updateTournamentTeam" parameterType="com.basketball.dto.tournament.UpdateTournamentTeamDTO">
        update tournament_team
        <set>
            <if test="teamIdList!=null and teamIdList.size()>2">team_id=#{teamIdList},</if>
        </set>
        <where>
            tournament_id = #{tournamentId}
        </where>
    </update>
</mapper>